/StarterFramework/bin
/StarterFramework/.gradle
/StarterFramework/build
/StarterFramework/gensrc
StarterFramework/.classpath
StarterFramework/.project
StarterFramework/.settings
StarterFramework/HELP.md

/component-foodsanddishes/bin
/component-foodsanddishes/.gradle
/component-foodsanddishes/build
/component-foodsanddishes/gensrc
component-foodsanddishes/.classpath
component-foodsanddishes/.project
component-foodsanddishes/.settings
component-foodsanddishes/HELP.md